* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

* .dark-mode {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.dark-mode .test-string,
.input-string input {
  background-color: #fff !important;
  color: #000;
}
